{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}ویرایش مخاطب{% endblock title %}

{% block content %}

<h4 style="display: inline-block;">ویرایش مخاطب: &nbsp; </h4>
<h6 style="display: inline-block;">><u>{{ full_name }}</u><</h6>
    {% if form %}
    <form method="post" action="{% url 'contacts:edit-contact-process' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="hidden" name="item_id" value="{{ item_id }}">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}

    {% endblock content %}